body {
    height: 2000px;
    /* добавим body прокрутку, подсказка должна работать и с прокруткой */
  }

  .tooltip {
    /* немного стилизуем подсказку, можете использовать свои стили вместо этих */
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  }